@page
@model RazorApp.Pages.ComponentiModel
@{
}
<div class="text-center">

    <h1>Componenti Razor Riutilizzabili </h1>

    <hr />
    <component type="typeof(Contatore)" render-mode="ServerPrerendered"  />
    <hr />
    <component type="typeof(Contatore)" render-mode="ServerPrerendered"  />

    <hr />
    <component type="typeof(Contatore)" render-mode="ServerPrerendered" />
</div>
